<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!transaction"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="transaction">
  <!-- <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of transaction">
      <td>{{ item.date }}</td>
      <td>{{ item.temperatureC }}</td>
      <td>{{ item.temperatureF }}</td>
      <td>{{ item.summary }}</td>
    </tr>
  </tbody> -->
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Transacation Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of transaction">
      <td>{{ item.ID }}</td>
      <td>{{ item.Amount }}</td>
      <td>{{ item.CurrencyCode }}</td>
      <td>{{ item.TransactionDT }}</td>
    </tr>
  </tbody>
</table>
